{% extends 'default/message.html.twig' %}

{% block message %}
	<link href="{{ asset('../src/GDdesign/AdminBundle/Resources/public/devoopsTemplate/plugins/bootstrap/bootstrap.css')}}" rel="stylesheet">
		<link href="{{ asset('../src/GDdesign/AdminBundle/Resources/public/devoopsTemplate/plugins/jquery-ui/jquery-ui.min.css')}}" rel="stylesheet">
		<link href="{{ asset('../src/GDdesign/AdminBundle/Resources/public/font-awesome-4.3.0/css/font-awesome.min.css')}}" rel="stylesheet">
		<link href='http://fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css'>
		<link href="{{ asset('./bundles/gddesignuser/devoopsPack/plugins/fancybox/jquery.fancybox.css')}}" rel="stylesheet">
	
		
		<link href="{{ asset('./bundles/gddesignuser/devoopsPack/plugins/select2/select2.css')}}" rel="stylesheet">
		
		
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <!-- <script src="http://code.jquery.com/jquery.js"></script> -->
        <script src="{{ asset('./bundles/gddesignuser/devoopsPack/plugins/jquery/jquery.min.js')}}"></script>
        <script src="{{ asset('./bundles/gddesignuser/devoopsPack/plugins/jquery-ui/jquery-ui.min.js')}}"></script>
        
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="{{ asset('./bundles/gddesignuser/devoopsPack/plugins/bootstrap/bootstrap.min.js')}}"></script>
        
        
        <!--  All functions for this theme + document.ready processing  -->
        <script src = "{{ asset('./bundles/gddesignuser/devoopsPack/js/devoops.js')}}"></script>




	
        


<div class="row">
	<div class="col-xs-12">
		<div class="box">
			<div class="box-header">
				<div class="box-name">
					<i class="fa fa-usd"></i>
					<span>All Contacts</span>
				</div>
			</div>
			<div class="box-content no-padding">
				<table class="table table-bordered table-striped table-hover table-heading table-datatable" id="datatable-1">
					<thead>
						<tr>
							
							<th>Username</th>
							<th>Name</th>
							<th>Email</th>
							
						</tr>
					</thead>
					<tbody>
					<!-- Start: list_row -->
					{% for entity in entities %}
						<tr>
							
							<td>
							
							<a href="{{ path('message_reply_new', { 'user': entity.id }) }}">
							{%if entity.profileImage.path is defined %}
								<img class="img-rounded" src="/BLOG/web/files/{{entity.profileImage.path}}" alt="">
							{%else%}
								<img class="img-rounded" src="/BLOG/web/files/none.png" heigth="30" width="30" alt="">
							{%endif%}	
								{{entity.username}} </a></td>
							<td>{{entity.firstname}} {{entity.lastname}}  </td>	
							<td>{{entity.email}}</td>
							
						</tr>
					{%endfor%}	
					<!-- End: list_row -->
					</tbody>
					<tfoot>
						<tr>
							
							<th>Username</th>
							<th>Name</th>
							<th>Email</th>
							
						</tr>
					</tfoot>
				</table>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
// Run Datables plugin and create 3 variants of settings
function AllTables(){
	TestTable1();
	TestTable2();
	TestTable3();
	LoadSelect2Script(MakeSelect2);
}
function MakeSelect2(){
	$('select').select2();
	$('.dataTables_filter').each(function(){
		$(this).find('label input[type=text]').attr('placeholder', 'Search');
	});
}
$(document).ready(function() {
	// Load Datatables and run plugin on tables 
	LoadDataTablesScripts(AllTables);
	// Add Drag-n-Drop feature
	WinMove();
});
</script>












 
{%endblock%}
