{% extends 'default/message.html.twig' %}

{% block message %}

			<div class="user-cat">
                                <a href="{{ path('message_reply_new', { 'user':id }) }}"><button  class="user-btn left right"><span class="Gliph vertical-middle">&#61468;</span> New Message</button></a>
								 <a href="{{ path('message_reply') }}"><button class="user-btn left selected"><span class="Gliph vertical-middle">&#61468;</span> Inbox (3)</button></a>
								<a href="{{ path('message_reply_outbox') }}"><button class="user-btn left right"><span class="Gliph vertical-middle">&#61509;</span> Outbox (0)</button></a>
								<button class="user-btn right"><span class="Gliph vertical-middle">&#61460;</span> Trash (0)</button>
								<button class="user-btn right left"><span class="Gliph vertical-middle">&#61445;</span> Starred (0)</button>
			</div>
			
			 
  			{{ tinymce_init() }}
			<div  align="left" style='overflow:auto; height:350px; font-size:9px;'>
			
			       {%for entity in entities.messages %}
			      
			       	                     {% if entity.user != app.user.username %}
			       	                        <div style='background-color:grey; margin-left:50px;'>
								   	<spanclass="sender">{{ entity.user }} ,{{ entity.created|date ('Y-m-d H:i:s') }} </span>
								   	<span class="sender">{{ entity.user }} ,{{ entity.created|date ('Y-m-d H:i:s') }} </span>
									<span class="title">Re: {{ entity.subject }}</span>
									<div class="message">{{ entity.body }}</div>
									<div class="sep-light"></div>
								   </div><br><br>
					                     {%else%}
					                      <div >
								   	<spanclass="sender">{{ entity.user }} ,{{ entity.created|date ('Y-m-d H:i:s') }} </span>
								   	<span class="sender">{{ entity.user }} ,{{ entity.created|date ('Y-m-d H:i:s') }} </span>
									<span class="title">Re: {{ entity.subject }}</span>
									<div class="message">{{ entity.body }}</div>
									<div class="sep-light"></div>
								   </div><br><br>
					                     
					                     {%endif%}
					                     
					                     
				{%endfor%}			
			</div>
			
			 <form action="{{ url('message_reply_create') }}" method="post" {{ form_enctype(form) }}>
                         
							<div align="left">
								
									<div class="title">User :  {{ form_widget(form.user)}}</div>
									<div class="title">Subject : {{ form_widget(form.subject)}}</div>
									<div class="message">Body :  {{ form_widget(form.body)}}</div>
										{{ form_widget(form._token)}}
										{{ form_widget(form.user)}}
									<div class="sep-light"></div>
									<div class="buttons"><button class="user-btn top">
									<span class="Gliph vertical-middle">&#61470;</span> Reply</button>								
								</div>
							</div>
	        </form>
			
			
			
			
		
			<a href="{{ path('message_reply') }}">   Back to the list    </a>





{#
    <h1>Message</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>User</th>
                <td>{{ entity.user }}</td>
            </tr>
            <tr>
                <th>Message</th>
                <td>{{ entity.message }}</td>
            </tr>
            <tr>
                <th>Subject</th>
                <td>{{ entity.subject }}</td>
            </tr>
            <tr>
                <th>Body</th>
                <td>{{ entity.body }}</td>
            </tr>
            <tr>
                <th>Live</th>
                <td>{{ entity.live }}</td>
            </tr>
            <tr>
                <th>Deleted</th>
                <td>{{ entity.deleted }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{{ entity.created|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Modified</th>
                <td>{{ entity.modified|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('message') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('message_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>

#}
{% endblock %}
