{% extends 'layout.html.twig' %}
{% block page %}
	


					<div class="section-white bg-white1 pad-50">
						<div class="container">
						
						
							<div class="col-sm-4" >
								<h3 class="section-title">{%trans%}Who we are{%endtrans%}</h3>
								<span class="h3-line-dark"></span>
								<div class="row">
									<div class="col-sm-2">
								<img src="{{ asset('./bundles/gddesignpage/images/external/img2.png')}}" >
									</div>
									<div class="col-sm-10">
										<p class="section-p">

		We are a talented, dedicated and well prepared group of young people that love the creative process behind the scenes.<br> Our minds are put to creation when it comes to developing solutios that suit your needs.<br> If you are looking for a serious and professional, don't look further, your project is our baby and we will cherish it like our own.
										</p>
									</div>
								</div>
							</div>
							
							
							<div class="col-sm-4" >
								<h3 class="section-title">{%trans%}What do we do{%endtrans%}</h3>
								<span class="h3-line-dark"></span>
								<div class="row">
									<div class="col-sm-2">
								<img src="{{ asset('./bundles/gddesignpage/images/external/img2.png')}}" >
									</div>
									<div class="col-sm-10">
										<p class="section-p">
											<ul class="section-p">
												<li>-Development of Web aplications and plugins</li>
												<li>-Search engine optimizing (for google rankings)</li>
												<li>-Creation of pages for impaired people</li>
												<li>-Multi-language posibility - English, Spanish, Portuguese, Romanian, Catalan, Chech and Polish</li>
											</ul>
										</p>
									</div>
								</div>
							</div>
							
							
							<div class="col-sm-4" >
								<h3 class="section-title">{%trans%}Why choose us{%endtrans%}</h3>
								<span class="h3-line-dark"></span>
								<div class="row">
									<div class="col-sm-2">
								<img src="{{ asset('./bundles/gddesignpage/images/external/img2.png')}}" >
									</div>
									<div class="col-sm-10">
										<p class="section-p">
									Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consecteturvel scelerisque nisl consecteturvel scelerisque nisl consecteturvel scelerisque nisl consectetur.
										</p>
									</div>
								</div>
							</div>
							
						</div>
					</div>
					
					
					<!-- END * ABOUT US -->
					
					<!-- START * SECTION -->
					<div class="section-dark pad-50">
						<div class="container">
							<div class="row">
								<div class="col-sm-3">
									<h3><span class="Gliph fa fa-html5"></span> HTML5</h3>
									<p class="box-glow">
HTML, which stands for HyperText Markup Language, is the predominant markup language for web pages. It is written in the form of HTML elements consisting of "tags" surrounded by angle brackets within the web page content.

It allows images and objects to be embedded and can be used to create interactive forms. It provides a means to create structured documents by denoting structural semantics for text such as headings, paragraphs, lists, links, quotes and other items. It can embed scripts in languages such as JavaScript which affect the behavior of HTML webpages.
									</p>
								</div>
								<div class="col-sm-3">
								
									<h3><span class="Gliph fa fa-css3"></span> CSS3</h3>
									<p class="box-glow">
CSS is designed primarily to enable the separation of document content from document presentation, including elements such as the layout, colors, and fonts. This separation can improve content accessibility, provide more flexibility and control in the specification of presentation characteristics, enable multiple pages to share formatting, and reduce complexity and repetition in the structural content (such as by allowing for tableless web design). CSS can also allow the same markup page to be presented in different styles for different rendering methods, such as on-screen, in print, by voice and on Braille-based, tactile devices.
									</p>

								</div>
								<div class="col-sm-3">

									<h3><span class="Gliph fa">J<small>s</small></span> Javascript</h3>
									<p class="box-glow">
										JavaScript is an implementation of the ECMAScript language standard and is typically used to enable programmatic access to computational objects within a host environment. It can be characterized as a prototype-based object-oriented scripting language that is dynamic, weakly typed and has first-class functions. It is also considered a functional programming language like Scheme and OCaml because it has closures and supports higher-order functions.
									</p>
								</div>
								<div class="col-sm-3">

										<h3><span class="Gliph">&#58964;</span> PHP</h3>
									<p class="box-glow">
PHP: Hypertext Preprocessor is a widely used, general-purpose scripting language that was originally designed for web development to produce dynamic web pages. For this purpose, PHP code is embedded into the HTML source document and interpreted by a web server with a PHP processor module, which generates the web page document. As a general-purpose programming language, PHP code is processed by an interpreter application in command-line mode performing desired operating system operations and producing program output on its standard output channel.
									</p>
								</div>
							</div>
							<div align="center">
								<span class="Icon fa fa-lg fa-angle-left"></span>
								<span class="Icon fa fa-lg fa-angle-right"></span>
							</div>
						</div>
					</div>
					<!-- END * SECTION -->
					<!-- START * SECTION -->
					<div class="section-white pad-50 bg-white2">
						<div class="section-title text-hudge">Portfolio</div>
						<span class="h3-line"></span>
						<div align="center">A glimpse of our work</div>
						<div class="container">
							<div class="row">
								<div class="col-sm-3">
									<img src="{{ asset('./bundles/gddesignpage/images/external/page1.png')}}" >
								</div>
								<div class="col-sm-3">
									<img src="{{ asset('./bundles/gddesignpage/images/external/page1.png')}}" >
								</div>
								<div class="col-sm-3">
									<img src="{{ asset('./bundles/gddesignpage/images/external/page1.png')}}" >
								</div>
								<div class="col-sm-3">
									<img src="{{ asset('./bundles/gddesignpage/images/external/page1.png')}}" >
								</div>
							</div>
						</div>
						<div class="m-top-20" align="center">
								<span class="Icon fa fa-lg fa-angle-left"></span>
								<span class="Icon fa fa-lg fa-angle-right"></span>
						</div>
					</div>
					<!-- END * SECTION -->
	
{% endblock %}					
