{% extends 'default/message.html.twig' %}

{% block message %}


							<div class="user-cat">
							     	<a href="{{ path('message_new') }}"><button  class="user-btn left right"><span class="Gliph vertical-middle">&#61468;</span> New Message</button></a>
								 <a href="{{ path('message') }}"><button class="user-btn left selected"><span class="Gliph vertical-middle">&#61468;</span> Inbox (3)</button></a>
								 <a href="{{ path('message_outbox') }}"><button class="user-btn left right"><span class="Gliph vertical-middle">&#61509;</span> Outbox (0)</button></a>
								<button class="user-btn right"><span class="Gliph vertical-middle">&#61460;</span> Trash (0)</button>
								<button class="user-btn right left"><span class="Gliph vertical-middle">&#61445;</span> Starred (0)</button>
							</div>
						
							{% for entity in entities.messages %}
							
							<!-- MESSAGE -->
						   <form action="{{ url('message_delete_checked') }}" method="post" >
							<div class="user-message">
								<label class="chck2 vertical-middle" for="{{entity.id}}">
									<input class="custom-checkbox" value="{{entity.id}}" id="{{entity.id}}" name="message_id[]" data-toggle="checkbox" type="checkbox"><span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
							 		<span class="chck-label">{{ entity.sender }}</span>
									
								</label>
								<a href="{{ path('message_show', { 'id': entity.id }) }}"><span class="user-re"><strong>Re:</strong><strong> {{ entity.subject }}</strong> </span></a>
								<span class="user-time float-right">23min ago{{ diff|date('Y-m-d H:i:s') }}</span>
							</div>
							{%endfor%}
							

<div class="buttons"><button class="user-btn top"><span class="Gliph vertical-middle">&#61470;</span> Reply</button><button class="user-btn top"><span class="Gliph vertical-middle">&#61445;</span> Favorite</button><button type='submit' class="user-btn right top"><span class="Gliph vertical-middle">&#61460;</span> Send to Trash</button></div>
</form>



































{#


    <h1>Message list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>User</th>
                <th>Message</th>
                <th>Subject</th>
                <th>Body</th>
                <th>Live</th>
                <th>Deleted</th>
                <th>Created</th>
                <th>Modified</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('message_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.user }}</td>
                <td>{{ entity.message }}</td>
                <td>{{ entity.subject }}</td>
                <td>{{ entity.body }}</td>
                <td>{{ entity.live }}</td>
                <td>{{ entity.deleted }}</td>
                <td>{% if entity.created %}{{ entity.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.modified %}{{ entity.modified|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('message_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('message_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('message_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    
    #}
    {% endblock %}
