{% extends 'layout.html.twig' %}
{% block page %}
    <h1>Delete Account </h1>

<div class="panel panel-default">
    <div class="panel-heading">
            ATTENTION
    </div>
    <div class="panel-body">
           <span style = 'color:red';> {{ form_errors(delete_form) }} </span>
         This action will delete permanently your account!
    </div>
    <div class="panel-footer">
    <form name='form' action="{{ path('delete_account') }}" method="POST" >
        <button type='submit' name='form[submit]' class="btn btn-danger btn-sm" >Delete</button>
        <input type='hidden' name='_method'  value='DELETE'>
        {{ form_widget(delete_form._token) }}
    
   
        <a href="{{ path('show') }}" class="btn btn-default btn-sm">Decline</a>
          </form>   
    </div>
</div>



   

        <ul class="record_actions">
    <li>
        <a href="{{ path('show') }}">
            Back to the Profile
        </a>
    </li>
    <li></li>
</ul>
{% endblock %}

