{% extends 'layout.html.twig' %}
{% block page %}
<!-- START * CONTENT -->
{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<div class="whitebg">
	<form action="{{ path("fos_user_security_check") }}" method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
	<div class="w-80p">
			<div class="cat-large">{% trans %}Sign In{% endtrans %}</div>
				<div>
					<label><input class="F-text-login f-user" type="text" id="username" name="_username" value="{{ last_username }}" placeholder='Username' required="required" /></label><br />
					<label><input type="password" class="F-text-login f-pw"  id="password" name="_password" placeholder='Password' required="required" /></label>

					<div class="submit">
						<label class="chck" for="remember_me">
							<input class="custom-checkbox" checked  name="_remember_me" id="remember_me"  type="checkbox"><span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
							<span class="chck-label">{% trans %}Remember Me!{% endtrans %}</span>
						</label>
					</div><br />
					<input type="hidden" name="profile" value="/profile.html" />
					<input type="submit" class="F-btn-large" value="Login"><br /><br />
					<div class="text-big">{% trans %}Forgot your password?{% endtrans %}<br /> <a href="{{ path('fos_user_resetting_request') }}">{%trans%}Click here{%endtrans%}</a></div>
					
				</div>
			</div>
	</form>
</div>
<!-- END * CONTENT -->

	
{% endblock  %}
